<%= link_to "My Camping Trips",  trips_path, class: "all-trips" %> <br>

<div id ="trips-container">

</div>

<br>

<%= link_to "My Backpack", items_path, class: "all-items"  %>


<div id ="items-container">
</div>
