<%= link_to "Show me where I'm going camping",  trips_path, class: "all-trips" %> <br>

<div id ="trips-container">
<ol> </ol>
</div>

<%= link_to "Show me what's in my backpack", items_path, class: "all-items"  %>


<div id ="items-container">
<ol> </ol>
</div>
