<h1>Here's whats in your backpack:</h1>
<% @items.each do |item| %>
  <li>
    <%= link_to item.name, item_path(item.id)%>
    <% end %>
  </li>
</div>


<%= link_to "Add more gear", new_item_path %>
